<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean class="com.springcore.Student" name="Student1" p:studentId="1" p:studentName="Soumo" p:studentAddress="Tak"/>

    <bean class="com.springcore.Student" name="Student2">
        <property name="studentId" value="2"/>
        <property name="studentName" value="Jyoti"/>
        <property name="studentAddress" value="Kol"/>
    </bean>

</beans>